@model DayForRecordsModel[]

<div class="container">
    <div class="row text-center">
        <h1>Дни для записи</h1>
    </div>


    <form asp-action="SetDaysForRecords" asp-controller="Records" method="post">

        @for (int i = 0; i < Model.Length; i++)
        {
            <div class="row">
                <div class="col">
                    <input hidden asp-for="@Model[i].Day" />
                    <label >@Model[i].Day</label>
                </div>
                <div class="col">
                    <input asp-for="@Model[i].IsEnable" type="checkbox" />
                </div>
                <div class="col">
                    @{
                        string url = $"Records/EditDay?year={Model[i].Day.Year}&month={Model[i].Day.Month}&day={Model[i].Day.Day}";
                        bool enabled = @Model[i].IsEnable;
                    }

                    @if(enabled)
                    {
                        <a href="@url" class="btn btn-sm btn-success">Настроить</a>
                    }
                    else 
                    {
                        <a href="@url" class="btn btn-sm btn-success disabled">Настроить</a>
                    }
                    

                </div>
            </div>
        }

        <div class="row mb-2 mt-2"> 
            <div class="col text-end">
                <button class="btn btn-sm btn-success" type="submit">Сохранить</button>
            </div>
            <div class="col text-start">
                <a asp-controller="Admin" class="btn btn-sm btn-warning">Отмена</a>
            </div>
        </div>


    </form>



</div>
