@model Config

<div class="container">
    <div class="row">
        <h1>Конфигурация</h1>
    </div>

    <div class="row">
        <div class="col">Акция</div>
        <div class="col">@Model.PromotionEnabled</div>
    </div>
    <div class="row">
        <div class="col">Мобильное приложение</div>
        <div class="col">@Model.MobileAppEnabled</div>
    </div>
    <div class="row">
        <div class="col">возможность записи</div>
        <div class="col">@Model.RecordEnable</div>
    </div>
    <div class="row">
        <div class="col">Начало рабочего дня</div>
        <div class="col">@Model.StartTimeOfDaty</div>
    </div>
    <div class="row">
        <div class="col">Конец рабочего дня</div>
        <div class="col">@Model.EndTimeOfDaty</div>
    </div>
    <div class="row">
        <div class="col">Количество дней для записи</div>
        <div class="col">@Model.NumberOfDaysForRecords</div>
    </div>
</div>
