@model Config

<div class="container">
    <div class="row text-center mt-4 mb-4">
        <h2>Конфигурация</h2>
    </div>
    <div class="row">
        <div class="col">Акция</div>
        <div class="col">@Model.PromotionEnabled</div>
    </div>
        <div class="row">
        <div class="col">Мобильное приложение</div>
        <div class="col">@Model.MobileAppEnabled</div>
    </div>
    <div class="row">
        <div class="col">возможность записи</div>
        <div class="col">@Model.RecordEnable</div>
    </div>
    <div class="row">
        <div class="col">Начало рабочего дня</div>
        <div class="col">@Model.StartTimeOfDay</div>
    </div>
        <div class="row">
        <div class="col">Конец рабочего дня</div>
        <div class="col">@Model.EndTimeOfDay</div>
    </div>
    <div class="row">
        <div class="col">Количество дней для записи</div>
        <div class="col">@Model.NumberOfDaysForRecords</div>
    </div>
    <div class="row text-center mt-4">
        <div class="col">
            <a class="btn btn-primary btn-sm" asp-controller="Configuration" asp-action="index">Изменить</a>
        </div>
    </div>
    <br />
</div>